@import "tailwindcss";

@theme {
  /* Colors */
  --color-midnight: #0b0c10;
  --color-charcoal: #1f2833;
  --color-premium-gold: #d4af37;

  /* Typography */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

/* Global Styles */
@layer base {
  body {
    background-color: var(--color-midnight);
    color: white;
    font-family: var(--font-sans);
  }

  ::selection {
    background-color: var(--color-premium-gold);
    color: var(--color-midnight);
  }
}
